<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>権限選択ページ</title>
        <meta name="viewport" content="width=device-width">
        <script src=""></script>
        <link rel="stylesheet" href="../../static/css/common.css" th:href="@{/css/common.css}">
        <link rel="stylesheet" href="../../static/css/admin-home.css" th:href="@{/css/admin-home.css}">
    </head>
    <body>
        <!-- header ここから -->
        <header class="header">
            <div class="header-inner">
                <a class="header-logo" th:href="@{/select-permission}">
                    <img src="../../static/image/Facility_logo_sumika.png" th:src="@{/image/Facility_logo_sumika.png}" alt="LOGO">
                </a>
                <div>
                    <nav class="site-menu">
                        <ul>
                            <p>
                                <span sec:authentication="principal.username">duke</span>
                            </p>
                            <form  th:action="@{/logout}" method="post"><input  class="logoutBtn" type="submit" value="ログアウト" /></form>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <!-- header ここまで -->

        <!-- main ここから -->
        <main class="main">
            <div class="container">
                <h2>管理者ホームページ</h2>
                <p class="text">
                    機能を選択してください。
                </p>
                <div class="button-group">
                    <a th:href="@{/admin-facility-list}" class="btn facility-list">設備一覧</a>
                    <a th:href="@{/create-user}" class="btn create-user">ユーザー<br>作成</a>
                </div>
            </div>
        </main>
        <!-- main ここまで -->

        <!-- footer ここから -->
        <footer class="footer">
            <div>
                <a class="footer-logo" th:href="@{/select-permission}">
                    <img src="../../static/image/Facility_logo_sumika.png" th:src="@{/image/Facility_logo_sumika.png}" alt="LOGO">
                </a>
                <p class="copyright"><small>&copy; 2025 清夏 Facility Management System</small></p>
            </div>
        </footer>
        <!-- footer ここまで -->
    </body>
</html>