body {
    background: linear-gradient(to bottom, #a8a8a8, #b8b8b8, #d1d1d1, #e0e0e0, #f5f5f5);
}
.error-input {
    border-color: #b94a48;
    margin-left: 5px;
}

.error-messages {
    border-color: #b94a48;
}