@charset "UTF-8";

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  padding-top: 50px;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  color: #000000;
  line-height: 1;
}

img {
  max-width: 100%;
}

.header {
  position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    height: 50px;
    z-index: 10;
    box-shadow: 0  3px 6px rgba(0, 0, 0, 0.1);
}

.header-inner {
  max-width: 1800px;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4f4f4f;
}

.toggle-menu-button {
  display: none;
}

.header-logo {
  display: block;
  width: 100px;
}

.site-menu ul {
  display: block;
  text-align: center;
}

.site-menu ul li {
  margin-left: 20px;
  margin-right: 20px;
}

.logoutBtn {
  background-color: #A1AFB6;
  border-radius: 4px;
  border:none;
  box-shadow: 0  3px 6px rgba(0, 0, 0, 0.1);

}

.logoutBtn:hover {
  transform: translateY(-1px);
  opacity: 0.9; 
}

.main {
  background: linear-gradient(to bottom, #a8a8a8, #b8b8b8, #d1d1d1, #e0e0e0, #f5f5f5);
}

.footer {
  color: #ffffff;
  background-color: #4f4f4f;
  padding-top: 30px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  display: block;
  width: 230px;
  margin-top: 90px;
}

.footer-tel {
  font-size: 26px;
  font-weight: bold;
  margin-top: 28px;
  color: #A1AFB6;
}

.copyright {
  font-size: 14px;
  font-weight: bold;
  margin-top: 90px;
  color: #A1AFB6;
}

.error-input {
  border-color: #b94a48;
  font-size: 0.9rem;
  margin-left: 5px;
}

.error-messages {
  border-color: #b94a48;
  font-size: 0.9rem;
}

@media (max-width: 800px) {
  .site-menu ul {
    display: block;
    text-align: center;
  }

  .site-menu li {
    margin-top:20px;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    height: 50px;
    z-index: 10;
    box-shadow: 0  3px 6px rgba(0, 0, 0, 0.1);
  }

  .header-inner {
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    position: relative;
  }

  .header-site-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right:0;
    color: #ffffff;
    background-color: #736E62;
    padding-top: 30px;
    padding-bottom: 50px;
    display: none;
  }
  
  .header-logo {
    width: 100px;
  }

  .header-site-menu.is-show {
    display: block;
  }

  .main {
    padding-top: 50px;
  }

  .footer-logo {
    margin-top: 60px;
  }
}