<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>設備管理編集画面</title>
    </head>
    <body>
        <form th:action="@{/facilities/edit}" th:object="${facilityForm}" method="post">
            <table>
                <tr>
                    <td>品名:</td><td><input type="text" name="product" th:field="*{product}" /></td>
                </tr>
                <tr>
                    <td>型番：</td><td><input type="text" name="modelNumber" th:field="*{modelNumber}" /></td>
                </tr>
                <tr>
                    <td>メーカー：</td><td><input type="text" name="manufacturer" th:field="*{manufacturer}" /></td>
                </tr>
                <tr>
                    <td>仕様：</td><td><input type="text" name="specification" th:field="*{specification}" /></td>
                </tr>
                <tr>
                    <td>耐用年数:</td><td><input type="text" name="serviceLife" th:field="*{serviceLife}" /></td>
                </tr>
                <tr>
                    <td>購入日：</td><td><input type="text" name="purchaseDate" th:field="*{purchaseDate}" /></td>
                </tr>
                <tr>
                    <td>減価償却：</td><td><input type="text" name="depreciation" th:field="*{depreciation}" /></td>
                </tr>
                <tr>
                    <td>使用不可：</td><td><input type="checkbox" name="notAvailable" th:field="*{notAvailable}" /></td>
                </tr>
                <tr>
                    <td>貸出可能:</td><td><input type="checkbox" name="rentAble" th:field="*{rentAble}" /></td>
                </tr>
                <tr>
                    <td>設置場所：</td><td><input type="text" name="location" th:field="*{location}" /></td>
                </tr>
                <tr>
                    <td>使用期限：</td><td><input type="text" name="expiry" th:field="*{expiry}" /></td>
                </tr>
            </table>
            <!--詳しくは課題8参照-->
            <input type="hidden" name="id" th:value="${param.id[0]}" />
            <input type="submit" name="goToTop" value="戻る" />
            <input type="submit" value="更新" />
        </form>
    </body>
</html>