<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>設備登録一覧画面</title>
    </head>
    <body>
        <form th:action="@{/facilities/create}" method="post">
            <table>
                <!--idはシステム側で発行
                <tr><td>管理番号:</td><td><input type="text" name="id" /></td></tr>
            -->
                <tr><td>品名:</td><td><input type="text" name="product" /></td></tr>
                <tr><td>型番：</td><td><input type="text" name="modelNumber" /></td></tr>
                <tr><td>メーカー：</td><td><input type="text" name="manufacturer"/></td></tr>
                <tr><td>仕様：</td><td><input type="text" name="specification" /></td></tr>
                <tr><td>耐用年数:</td><td><input type="text" name="serviceLife" /></td></tr>
                <tr><td>購入日:</td><td><input type="text" name="purchaseDate" /></td></tr>
                <tr><td>減価償却：</td><td><input type="text" name="depreciation" /></td></tr>
                <tr><td>使用不可：</td><td><input type="checkbox" name="notAvailable"/></td></tr>
                <tr><td>貸出可能：</td><td><input type="checkbox" name="rentAble" /></td></tr>
                <tr><td>設置場所:</td><td><input type="text" name="location" /></td></tr>
                <tr><td>使用期限:</td><td><input type="text" name="expiry" /></td></tr>
            </table>
            <input type="submit" value="作成"/>
        </form>
        <hr />

        <table>
            <!--eachでループ処理-->
            <tr th:each="facility : ${facilities}">
                <!--サンプル表示-->
                <td th:text="${facility.id}">100</td>
                <td th:text="${facility.product}">品名Ａ</td>
                <td th:text="${facility.modelNumber}">型番Ａ</td>
                <td th:text="${facility.manufacturer}">メーカＡ</td>
                <td th:text="${facility.specification}">仕様Ａ</td>
                <td th:text="${facility.serviceLife}">4</td>
                <td th:text="${facility.purchaseDate}">20240101</td>
                <td th:text="${facility.depreciation}">4</td>
                <td th:text="${facility.notAvailable}">true</td>
                <td th:text="${facility.rentAble}">true</td>
                <td th:text="${facility.location}">設置場所Ａ</td>
                <td th:text="${facility.expiry}">100</td>

                <td>
                    <form th:action="@{/facilities/edit}" method="post">
                        <input type="submit" name="form" value="編集" />
                        <!--編集ボタン押下-->
                        <input type="hidden" name="id" th:value="${facility.id}"/>
                    </form>
                </td>
                <td>
                    <form th:action="@{/facilities/delete}" method="post">
                        <input type="submit" name="form" value="削除" />
                        <!--削除ボタン押下-->
                        <input type="hidden" name="id" th:value="${facility.id}"/>
                    </form>
                </td>
            </tr>
        </table>

    </body>
</html>